<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !-f
    RewriteCond %{REQUEST_URI} !-d
    RewriteCond %{REQUEST_URI} !-l
    RewriteCond %{REQUEST_URI} !(\.gif|\.jpg|\.jpeg|\.pdf|\.png|\.css|\.js)$ [NC]

    RewriteRule ^([^/]+)/([^/]+)(/([^/]+))?$ index.php?c=$1&a=$2&id=$4 [NC]
</IfModule>